 <div style="margin-left:15px; margin-right: 10px; background-color: #ffffff; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; border-radius: 2%">
	<img class="col-md-12" src="https://img00.deviantart.net/2c38/i/2012/287/8/d/spideypool_logo_by_irocandrew-d5hqgr9.png">
	<br>
	<p style="text-align: center; font-size: 115%"><b>User #667871</b></p>
	<hr style="margin-left: 5%">


	<div class="row">
	<p class="col-md-6" style="font-size: 100%; text-align: center;"><b>Posts</b></p>
	<p class="col-md-6" style="font-size: 100%; text-align: center;"><b>Answers</b></p>
	</div>

	<div class="row">
	<p class="col-md-6" style="font-size: 200%; text-align: center; color: #132F90"><b>14</b></p>
	<p class="col-md-6" style="font-size: 205%; text-align: center; color: #132F90"><b>35</b></p>
	</div>

</div>

<br>