<div style="background-color: #ffffff; padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px; border-radius: 2%">

	<div class="col-md-12" style="background-color: #663A7A; border-radius: 2%">
		
		<br>
		<div class="row">
			<div class="col-md-12">
				<img class="col-md-1" src="https://static.platzi.com/media/achievements/platzi-bd.png" style="float: left;">
				<p class="col-md-4" style="color: #FFFFFF; font-size: 15px; text-align: center; padding-top: 3px"><b style="color: #FFFFFF; font-size: 25px;">User #807801</b> - 1h ago</p>
				<div class="col-md-7"></div>
			</div>
		</div>

		<br>

		<p style="color: #FFFFFF; font-size: 18px">En la primera charla de PlatziConf 2018 Freddy Vega nos presentó un tema ligero, digerible: Cómo ser feliz. Aunque parece un discurso motivacional o de superación personal, en realidad esta conferencia está fundamentada sobre hechos científicos y comprobobables que Freddy y gente cercana a él han experimentado en su vida.</p>


		<div class="row">
				<div class="col-md-2"></div>
				<iframe class="col-md-8 " height="400px" style="border-radius: 3%;" src="https://www.youtube.com/embed/iUXbJhx_vfQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>

		<br>


		<form class="form-inline">
		    <textarea class="form-control col-md-10" placeholder="Something to say?"></textarea>
		  	<button type="submit" class="btn btn-info" style="margin-left: 10px"><b>Comment</b></button>
		</form>

		<br>

	</div>


	<br>


	<div class="col-md-12" style="background-color: #234357; border-radius: 2%">
		
		<br>
		<div class="row">
			<div class="col-md-12">
				<img class="col-md-1" src="https://vignette.wikia.nocookie.net/inazumaharrypottereinazumaelevengo/images/1/14/Simbolo_de_Goku.png/revision/latest?cb=20130204202500&path-prefix=es" style="float: left;">
				<p class="col-md-4" style="color: #FFFFFF; font-size: 15px; text-align: center; padding-top: 7px"><b style="color: #FFFFFF; font-size: 25px;">User #728394</b> - 3h ago</p>
				<div class="col-md-7"></div>
			</div>
		</div>

		<br>

		<p style="color: #FFFFFF; font-size: 18px">La tristeza es una de las seis emociones básicas (no natales) del ser humano según Paul Ekman, junto con el miedo, la ira, el asco, la felicidad y la sorpresa. Es una clase de dolor emocional o estado afectivo provocado por un decaimiento espiritual y expresado a menudo mediante el llanto, el rostro abatido, la falta de apetito, la lasitud etc. A menudo nos sentimos tristes cuando nuestras expectativas no se ven cumplidas o cuando las circunstancias de la vida son más dolorosas que alegres. El sentimiento opuesto es la alegría.</p>

		<br>

		<form class="form-inline">
		    <textarea class="form-control col-md-10" placeholder="Something to say?"></textarea>
		  	<button type="submit" class="btn btn-info" style="margin-left: 10px; color: #ffffff"><b>Comment</b></button>
		</form>

		<br>

	</div>



	<br>



	<div class="col-md-12" style="background-color: #D88B1F; border-radius: 2%">
		
		<br>
		<div class="row">
			<div class="col-md-12">
				<img class="col-md-1" src="https://vignette.wikia.nocookie.net/arrow/images/f/fd/Flash_Logo.png/revision/latest?cb=20150516151403&path-prefix=es" style="float: left;">
				<p class="col-md-4" style="color: #FFFFFF; font-size: 15px; text-align: center; padding-top: 7px"><b style="color: #FFFFFF; font-size: 25px;">User #385190</b> - 8h ago</p>
				<div class="col-md-7"></div>
			</div>
		</div>

		<br>

		<p style="color: #FFFFFF; font-size: 18px">La felicidad es una emoción que se produce en un ser vivo cuando cree haber alcanzado una meta deseada.
		<br>
		<br>
		La felicidad suele ir aparejada a una condición interna o subjetiva de satisfacción y alegría. Algunos psicólogos han tratado de caracterizar el grado de felicidad mediante diversos tests, y han llegado a definir la felicidad como una medida de bienestar subjetivo (autopercibido) que influye en las actitudes y el comportamiento de los individuos. Las personas que tienen un alto grado de felicidad muestran generalmente un enfoque del medio positivo, al mismo tiempo que se sienten motivadas a conquistar nuevas metas.</p>

		<br>

		<form class="form-inline">
		    <textarea class="form-control col-md-10" placeholder="Something to say?"></textarea>
		  	<button type="submit" class="btn btn-info" style="margin-left: 10px"><b>Comment</b></button>
		</form>

		<br>

	</div>




	<br>





	<div class="col-md-12" style="background-color: #4D4C4B; border-radius: 2%">
		
		<br>
		<div class="row">
			<div class="col-md-12">
				<img class="col-md-1" src="https://vignette.wikia.nocookie.net/dragonballfanon/images/7/77/Pikachu.png/revision/latest?cb=20130818123001&path-prefix=es" style="float: left;">
				<p class="col-md-4" style="color: #FFFFFF; font-size: 15px; text-align: center; padding-top: 7px"><b style="color: #FFFFFF; font-size: 25px;">User #017234</b> - 10h ago</p>
				<div class="col-md-7"></div>
			</div>
		</div>

		<br>

		<p style="color: #FFFFFF; font-size: 18px">Decepción es el pesar causado por un desengaño; un sentimiento de insatisfacción que surge cuando no se cumplen las expectativas sobre un deseo o una persona. Se forma en unir dos emociones primarias, la sorpresa y la pena. La decepción, si perdura, es un desencadenante para la frustración y más adelante, la depresión. Es una fuente de estrés psicológico.</p>

		<br>

		<form class="form-inline">
		    <textarea class="form-control col-md-10" placeholder="Something to say?"></textarea>
		  	<button type="submit" class="btn btn-info" style="margin-left: 10px;"><b>Comment</b></button>
		</form>

		<br>

	</div>




	<br>




	<div class="col-md-12" style="background-color: #b1371b; border-radius: 2%">
		
		<br>
		<div class="row">
			<div class="col-md-12">
				<img class="col-md-1" src="https://png.icons8.com/ultraviolet/1600/galaxy.png" style="float: left;">
				<p class="col-md-4" style="color: #FFFFFF; font-size: 15px; text-align: center; padding-top: 7px"><b style="color: #FFFFFF; font-size: 25px;">User #612598</b> - 1d ago</p>
				<div class="col-md-7"></div>
			</div>
		</div>

		<br>

		<p style="color: #FFFFFF; font-size: 18px">Galaxy Labs... Proximamente</p>

		<br>

		<form class="form-inline">
		    <textarea class="form-control col-md-10" placeholder="Something to say?"></textarea>
		  	<button type="submit" class="btn btn-info" style="margin-left: 10px"><b>Comment</b></button>
		</form>

		<br>

	</div>

</div>

<br>



