<div class="row" style="padding-top:10px;background-color:#C4BDC8;">
    <div class="col-md-2">
    	<app-status></app-status>
    </div>

    <div class="col-md-8">
	<div class="row" [ngClass]="getPostState()" style="margin-left: 10px">
	    <div class="input-group mb-3">
		<div class="input-group-prepend">
		    <span class="input-group-text" id="basic-addon1">
			<img height="15" width="15" [src]="post.image" class="float-left">
		    </span>
		</div>
		<textarea class="form-control col-md-10" placeholder="How are you feeling?" aria-label="feeling" aria-describedby="basic-addon1" [(ngModel)]="post.text" [disabled]="postState==0" (keydown.esc)="onCancelPost($event)" (keydown.enter)="onCreatePost($event)"></textarea>
		<i class="material-icons" style="color: #1A8D18; font-size: 35px; padding-left: 5px">create</i>
	    </div>
	    <div class="feelings" style="margin-left: 25px">
		<i class="material-icons" title="Emocion" style="color: #b1371b;" (click)="changeSate(1)" *ngIf="postState==0||postState==1">favorite</i>
		<i class="material-icons" title="Decepcion" style="color: #4D4C4B;" (click)="changeSate(2)" *ngIf="postState==0||postState==2">favorite_border</i>
		<i class="material-icons" title="Felicidad" style="color: #D88B1F;" (click)="changeSate(3)" *ngIf="postState==0||postState==3">sentiment_very_satisfied</i>
		<i class="material-icons" title="Tristeza" style="color: #234357;" (click)="changeSate(4)" *ngIf="postState==0||postState==4">mood_bad</i>
		<i class="material-icons" title="Enlace" style="color: #663A7A;" (click)="changeSate(5)" *ngIf="postState==0||postState==5">attach_file</i>
	    </div>

	</div>
	<app-post></app-post>
    </div>
    <div class="col-md-2">
   	<app-top></app-top>
    </div>
</div>
