   <div style="margin-right: 15px; margin-left: 10px;  background-color: #ffffff; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; border-radius: 2%">

      <p style="text-align: center; color: #000000; font-size: 115%"><b>Trends for you</b></p>

      	<p style="color: #5B05A6; "><b>#Familia</b></p>
         <p style="color: #868587; font-size: 75%">176238 persons are talking about this</p>

      	<p style="color: #5B05A6;"><b>#Escuela</b></p>
         <p style="color: #868587; font-size: 80%">176238 persons are talking about this</p>

      	<p style="color: #5B05A6;"><b>#Noviazgo</b></p>
         <p style="color: #868587; font-size: 80%">176238 persons are talking about this</p>

      	<p style="color: #5B05A6;"><b>#Tarea</b></p>
         <p style="color: #868587; font-size: 80%">176238 persons are talking about this</p>

      	<p style="color: #5B05A6;"><b>#Trabajo</b></p>
         <p style="color: #868587; font-size: 80%">176238 persons are talking about this</p>
      

   </div>
